{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    {% if current_user.is_authenticated %}
        <h3>Greetings {{ current_user.fullname }} you are logged in.</h3>
        <p>This is a secret only accessible to the logged in users.</p>
    {% else %}
<!--This line of code should never occur-->
        <h3>Greetings {{ current_user.username }} please log in.</h3>
    {% endif %}



    {% if form %}
    {{ wtf.quick_form(form) }}
    <br>
    {% endif %}
{% endblock %}
